# Server
PORT=5500
PORT_GRPC=50052
NODE_ENV=development
APP_NAME=micro-template
CORS_ORIGINS=http://localhost:3000

# Database
MONGO_STRING_CONNECTION=mongodb://localhost:27017
MONGO_DB_NAME=micro_template

# Auth
JWT_SECRET=

# Redis
REDIS_SERVER_URI=redis://localhost:6379
REDIS_DB=1

# gRPC (URLs de otros microservicios)
GRPC_URL_USER=localhost:50052

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=micro-template
KAFKA_GROUP_ID=micro-template-group
